// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #9c4274;
$value-color:       #fff;

$title-color:       rgba(255, 255, 255, 0.7);;
$moreinfo-color:    rgba(255, 255, 255, 0.7);;

// ----------------------------------------------------------------------------
// Widget styles
// ----------------------------------------------------------------------------

.widget-mpd { 

  background-color: $background-color;
  
  .title { 
    color: $title-color;
  }

  td {
    background-color: darkorange;
  }

  .zone-name { 
    color: $title-color;
    cursor: pointer;
  }

  .zone-status { 
    ;
  }

  .zone-status-playing { 
    width: 20px;
    height: 50px;
    background-image: url("/assets/icons/mpd/music-on.gif");
    background-size: cover;
  }

  .command { 
    cursor: pointer;
  }

  .output {
    cursor: pointer;
  }

  .td-output {
    min-width: 52px;
  }

  .td-zone-playing {
    width: 50px;
    height: 50px;
    background-image: url("/assets/icons/mpd/music-playing-small.gif");
    background-repeat:no-repeat;background-size:50px 50px;
  }

  .artist, .name {
    color: $value-color;
  }

  .song {
    font-size: 14px;
    
  }

  .selected {
    border-color: red;
  }

  .inverted {
    /* filter: invert(100%);
    */
    background-color: orange;
  }

  .progress-bar {
    ;
  }

  progress:not([value]) {
   /* Styling here */
  }

  progress {
    background-color: darkgray;
  }

  progress::-webkit-progress-bar {
    /* style rules */
    background-color: darksalmon;
  }

  progress::-webkit-progress-value {
    /* style rules */
    background-color: orange;
  }

  .updated-at {
    color: rgba(0, 0, 0, 0.3);
  }
  
}