// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #9c4274;
$value-color:       #fff;

$title-color:       rgba(255, 255, 255, 0.7);
$title-color-light:       rgba(255, 255, 255, 0.2);
$moreinfo-color:    rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// Widget styles
// ----------------------------------------------------------------------------

.widget-mpd { 

  background-color: $background-color;
  
  .title { 
    color: $title-color;
  }

  td {
    background-color: darkorange;
  }

  .zone-name { 
    color: $title-color;
    cursor: pointer;
  }

  .zone-status {
    color: $title-color;
  }

  .zone-status-playing { 
    /*
    width: 20px;
    height: 50px;
    background-image: url("/assets/icons/mpd/music-on.gif");
    background-size: cover;
    */
    border-right-width: 1px;
    border-right-style: dashed;
    border-right-color: red;
  }

  .command { 
    cursor: pointer;
    align-content: center;
  }

  .output {
    cursor: pointer;
  }

  .simple-settings {
    color: $title-color-light;
    cursor: pointer;
  }
  
  .advanced-settings {
    color: $title-color;
    cursor: pointer;
  }

  .td-output {
  }

  .artist, .name {
    color: $value-color;
  }

  .song {
    font-size: 14px;
    
  }

  .selected {
    border-color: red;
  }

  .inverted {
    /* filter: invert(100%);
    background-color: orange;
    */
    border-width: 1px;
    border-style: solid;
    border-color: red;
    border-radius: 10px;
  }
  .hidden {
    display: none;
  }

  progress {
    background-color: darkgray;
  }

  progress::-webkit-progress-bar {
    /* style rules */
    background-color: darksalmon;
  }

  progress::-webkit-progress-value {
    /* style rules */
    background-color: orange;
  }

  .under {
    position:relative;
    left:25px;
    top:0px;
    z-index:1;
  }

  .over {
    position:relative;
    left:-60px;
    top:0px;
    z-index:2;
  }

  .updated-at {
    color: rgba(0, 0, 0, 0.3);
  }
  
}