<script type='text/javascript'>
$(function() {
  // These settings override the defaults set in application.coffee. You can do this on a per dashboard basis.
  // Dashing.gridsterLayout('[{"col":2,"row":1},{"col":1,"row":1},{"col":3,"row":1},{"col":2,"row":2},{"col":3,"row":2},{"col":1,"row":2},{"col":5,"row":1},{"col":4,"row":2},{"col":2,"row":3}]')
  Dashing.widget_base_dimensions = [255, 236]
  Dashing.numColumns = 7
});
function open_my_url(url) {
  var request = new XMLHttpRequest();
  request.open("GET", url, true);
  request.send(null);
}
</script>
<% content_for :title do %>Haiot<% end %>
<div class="gridster">
  <ul>
    <!--li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="tablecontact-curte fata" data-view="Tablecontact" data-title="Curte fata" data-moreinfo="More information about this table"></div>
    </li-->
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="mpd" data-view="mpd" style="background-color:#000000"></div>
    </li>    
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="quote" data-view="Quote"></div>
    </li>
  	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="graphcontact-hol intrare" data-view="Graphcontact" data-title="Hol Intrare" style="background-color:#ff9618" data-suffix=""></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="graphcontact-curte fata" data-view="Graphcontact" data-title="Curte fata" style="background-color:#ff9618" data-suffix=""></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="graphutilityex-dirty water" data-view="Graphutilityex" data-title="Water Tank" style="background-color:#gray" data-suffix=""></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="graphutility-power main 1" data-view="Graphutility" data-title="Power Main 1" style="background-color:ORANGERED" data-suffix=""></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="graphtemp-pod fata" data-view="Graphtemp" data-title="Pod" style="background-color:green" data-suffix="&deg;"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="graphtemp-curte fata" data-view="Graphtemp" data-title="Curte" style="background-color:green" data-suffix="&deg;"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="graphutility-water main" data-view="Graphutility" data-title="Water Main" style="background-color:blue" data-suffix=""></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="graphutility-water house" data-view="Graphutility" data-title="Cold Water" style="background-color:blue" data-suffix=""></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="graphutility-water hot" data-view="Graphutility" data-title="Hot Water" style="background-color:red" data-suffix=""></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="graphutility-gas" data-view="Graphutility" data-title="Gaz" style="background-color:gold" data-suffix=""></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="graphtemp-gas heater" data-view="Graphtemp" data-title="Centrala Heat" style="background-color:red" data-suffix="&deg;"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="graphtemp-boiler sus" data-view="Graphtemp" data-title="Boiler Sus" style="background-color:orange" data-suffix="&deg;"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="graphtemp-boiler jos" data-view="Graphtemp" data-title="Boiler Jos" style="background-color:orange" data-suffix="&deg;"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="graphtemp-solar jos" data-view="Graphtemp" data-title="Solar Jos" style="background-color:orange" data-suffix="&deg;"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="graphtemp-living" data-view="Graphtemp" data-title="Living" style="background-color:SIENNA" data-suffix="&deg;"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="graphtemp-bucatarie" data-view="Graphtemp" data-title="Bucatarie" style="background-color:SIENNA" data-suffix="&deg;"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="graphtemp-dormitor" data-view="Graphtemp" data-title="Dormitor" style="background-color:SIENNA" data-suffix="&deg;"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="graphtemp-birou" data-view="Graphtemp" data-title="Birou" style="background-color:SIENNA" data-suffix="&deg;"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
		<div data-id="camera1" data-view="Cameras" data-title=""></div>
	</li>
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
		<div data-id="camera2" data-view="Cameras" data-title=""></div>
	</li>
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
		<div data-id="camera3" data-view="Cameras" data-title=""></div>
	</li>
  <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
		<div data-id="camera4" data-view="Cameras" data-title=""></div>
	</li>
  <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <a href="/main"><img src="/assets/icons/previous-64.png">Main Page</a>
      <br>
      <a href="/page1"><img src="/assets/icons/next-64.png">Page1</a>
      <br>
      <a href="/page2"><img src="/assets/icons/next-64.png">Page2</a>
    </li>
  </ul>
  </div>
