<script type='text/javascript'>
$(function() {
  // These settings override the defaults set in application.coffee. You can do this on a per dashboard basis.
  // Dashing.gridsterLayout('[{"col":2,"row":1},{"col":1,"row":1},{"col":3,"row":1},{"col":2,"row":2},{"col":3,"row":2},{"col":1,"row":2},{"col":5,"row":1},{"col":4,"row":2},{"col":2,"row":3}]')
  Dashing.widget_base_dimensions = [255, 236]
  Dashing.numColumns = 7
});
</script>
<% content_for :title do %>Haiot<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="graphtemp-puffer sus" data-view="Graphtemp" data-title="Puffer Sus" style="background-color:#aabb18" data-suffix="&deg;"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="graphtemp-puffer mijloc" data-view="Graphtemp" data-title="Puffer Mid" style="background-color:#aabb18" data-suffix="&deg;"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="graphtemp-puffer jos" data-view="Graphtemp" data-title="Puffer Jos" style="background-color:#aabb18" data-suffix="&deg;"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="graphtemp-horn" data-view="Graphtemp" data-title="Horn" style="background-color:#aabb18" data-suffix="&deg;"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="mpd" data-view="mpd" style="background-color:#000000"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <a href="/main"><img src="/assets/icons/previous-64.png">Main Page</a>
    </li>
  </ul>
  </div>
