<script type='text/javascript'>
$(function() {
  // These settings override the defaults set in application.coffee. You can do this on a per dashboard basis.
  // Dashing.gridsterLayout('[{"col":2,"row":1},{"col":1,"row":1},{"col":3,"row":1},{"col":2,"row":2},{"col":3,"row":2},{"col":1,"row":2},{"col":5,"row":1},{"col":4,"row":2},{"col":2,"row":3}]')
  Dashing.widget_base_dimensions = [255, 236]
  Dashing.numColumns = 7
});
</script>
<% content_for :title do %>Haiot<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="graphtemp-puffer sus" data-view="Graphtemp" data-title="Puffer Sus" style="background-color:#aabb18" data-suffix="&deg;"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="graphtemp-puffer mijloc" data-view="Graphtemp" data-title="Puffer Mid" style="background-color:#aabb18" data-suffix="&deg;"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="graphtemp-puffer jos" data-view="Graphtemp" data-title="Puffer Jos" style="background-color:#aabb18" data-suffix="&deg;"></div>
    </li>
   <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="graphtemp-solar jos" data-view="Graphtemp" data-title="Solar Jos" style="background-color:#aabb18" data-suffix="&deg;"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="graphtemp-boiler sus" data-view="Graphtemp" data-title="Boiler Sus" style="background-color:#aabb18" data-suffix="&deg;"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="graphtemp-boiler mijloc" data-view="Graphtemp" data-title="Boiler Mid" style="background-color:#aabb18" data-suffix="&deg;"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="graphtemp-boiler jos" data-view="Graphtemp" data-title="Boiler Jos" style="background-color:#ccbb18" data-suffix="&deg;"></div>
    </li>
        <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="graphtemp-gas heater" data-view="Graphtemp" data-title="Centrala Heat" style="background-color:red" data-suffix="&deg;"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="graphtemp-gas boiler" data-view="Graphtemp" data-title="Centrala Boiler" style="background-color:red" data-suffix="&deg;"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="graphtemp-horn" data-view="Graphtemp" data-title="Horn" style="background-color:#aabb18" data-suffix="&deg;"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="graphtemp-soba beci" data-view="Graphtemp" data-title="Soba" style="background-color:#aabb18" data-suffix="&deg;"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="graphtemp-pod fata" data-view="Graphtemp" data-title="Pod fata" style="background-color:#aabb18" data-suffix="&deg;"></div>
    </li>
        <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="graphcontact-living" data-view="Graphcontact" data-title="Living" style="background-color:#ff9618" data-suffix=""></div>
    </li>
  <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <a href="/main"><img src="/assets/icons/previous-64.png">Main Page</a>
      <br>
      <a href="/page1"><img src="/assets/icons/next-64.png">Page1</a>
      <br>
      <a href="/page2"><img src="/assets/icons/next-64.png">Page2</a>
    </li>
  </ul>
  </div>
