<script type='text/javascript'>
$(function() {
  // These settings override the defaults set in application.coffee. You can do this on a per dashboard basis.
  // Dashing.gridsterLayout('[{"col":2,"row":1},{"col":1,"row":1},{"col":3,"row":1},{"col":2,"row":2},{"col":3,"row":2},{"col":1,"row":2},{"col":5,"row":1},{"col":4,"row":2},{"col":2,"row":3}]')
  Dashing.widget_base_dimensions = [255, 236]
  Dashing.numColumns = 7
});
</script>
<% content_for :title do %>Haiot<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="graphcontact-hol intrare" data-view="Graphcontact" data-title="Hol Intrare" style="background-color:#ff9618" data-suffix=""></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="graphcontact-living" data-view="Graphcontact" data-title="Living" style="background-color:#ff9618" data-suffix=""></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="graphcontact-curte fata" data-view="Graphcontact" data-title="Curte fata" style="background-color:#ff9618" data-suffix=""></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="graphcontact-birou" data-view="Graphcontact" data-title="Birou" style="background-color:#ff9618" data-suffix=""></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="graphcontact-drum fata" data-view="Graphcontact" data-title="Drum" style="background-color:#ff9618" data-suffix=""></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="graphcontact-bucatarie" data-view="Graphcontact" data-title="Bucatarie" style="background-color:#ff9618" data-suffix=""></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="graphcontact-etaj hol" data-view="Graphcontact" data-title="Etaj hol" style="background-color:#ff9618" data-suffix=""></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="graphutility-power rack" data-view="Graphutility" data-title="Power Rack" style="background-color:#ff9618" data-suffix=""></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="graphutility-power beci" data-view="Graphutility" data-title="Power Beci" style="background-color:#ff9618" data-suffix=""></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="graphutility-power main" data-view="Graphutility" data-title="Power Main" style="background-color:#ff9618" data-suffix=""></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="graphutility-water hot" data-view="Graphutility" data-title="Hot Water" style="background-color:#ff0018" data-suffix=""></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="graphtemp-living" data-view="Graphtemp" data-title="Living" style="background-color:#ff9618" data-suffix="&deg;"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="graphutilityex-dirty water" data-view="Graphutilityex" data-title="Dirty Water" style="background-color:#gray" data-suffix=""></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="lastfm" data-view="lastfm" style="background-color:#000000"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <a href="/main"><img src="/assets/icons/previous-64.png">Main Page</a>
    </li>
  </ul>
  </div>
